body {
  background: url(/images/background.jpg); //图片地址
  // 或者使用图床上传图片background:url(https://tva1.sinaimg.cn/large/00831rSTgy1gdff4utyetj318g0p0q7b.jpg);
  background-size: cover;
  background-repeat: no-repeat; //是否重复出现
  background-attachment: fixed; //定义背景图片随滚动轴的移动方式
  background-position: 50% 50%; //设置背景图像的起始位置
}
//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.85;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.85;
}
//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.85);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.85;
}